@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saleular - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/Scripts/modernizr")
</head>
<body>
    <header class="nav">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left" style="padding-top: 2px">
                <img src="../../Images/Logos/saleular_sm.png" height="50" alt="" />
            </div>
            <div class="pull-left"><h1>Saleular</h1></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="menu2">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="btn btn-success btn-sm navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul id="navmenu" class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Home", "Home", "Home")</li>
                        <li>@Html.ActionLink("Buying iPhones", "PriceList", "Phone")</li>
                        <li>@Html.ActionLink("Selling iPhones", "SellPhone", "Phone")</li>
                        <li>@Html.ActionLink("Browse our iPhones", "BrowseSelection", "Phone")</li>
                        <li>@Html.ActionLink("Company Information", "CompanyInfo", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</a>
                                <ul class="dropdown-menu">                                    
                                    <li>
                                        @Html.ActionLink("API Documentation", "Index", "Help", routeValues: null, htmlAttributes: new { title = "API Documentation" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Manage Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Manage Admins", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Manage Gadgets", "Index", "GadgetManagement", routeValues: null, htmlAttributes: new { id = "gadgetLink" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Requests", "Index", "Request", routeValues: null, htmlAttributes: new { id = "requestsLink" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Price List Requests", "Index", "PriceListRequests", routeValues: null, htmlAttributes: new { id = "priceListRequestsLink" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Log Out", "LogOff2", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })                                        
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div>@RenderSection("header", false)</div>
    @RenderBody()
    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", required: false)
</body>
</html>