<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saleular - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")

    <style>
        h2 {
            -webkit-text-shadow: 2px 2px 2px #888888;
            text-shadow: 2px 2px 2px #888888;
            padding: 0px;
            margin: 0px 0px 10px 0px;
        }

        h1 {
            margin: 0px 0px 0px 0px;
            font-size: 50px;
            font-weight: 300;
        }

        footer {
            text-align: right;
            /*padding: 1px 20px 1px 1px;
            background-color: #222222;
            border-color: #0079a1;
            font-weight: 600;
            color: #ffffff;
            border-radius: 8px;*/
        }

        footer h4{
            margin: 2px 2px 2px 2px;
        }

        .bor {
            border: 1px solid red;
        }

        .box-shadow-dgray {
            box-shadow: 5px 5px 5px #888888;
        }
       
        .btn {
            border-radius: 5px;
        }

        #menu {
            border-radius: 5px;
        }

        .nav a:hover, .nav a {
            border-radius: 5px;
        }

        #guarenteed-text {
            margin: 20px 0px 0px 0px;
        }

        .offerspaid-price {
            font-weight: 500;
            text-align: right;
            color: #008cba;
        }

        .offer-ouroffer {
            font-weight: 500;
            text-align: left;
            color: #008cba;
        }        
    </style>


    <script>
        $(document).ready(function () {

            // set nav-bar li active
            var url = window.location;
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        });
    </script>

</head>
<body>
    <div id="page">                                        
        <header class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-left">
                    <div class="pull-left hidden-xs" style="padding-top: 2px">
                        <img src="../../Images/Logos/saleular_sm.png" height="50" alt="" />
                    </div>
                    <div class="pull-left"><h1>Saleular</h1></div>
                </div>
                <div id="guarenteed-text" class="col-lg-9 col-md-8 visible-lg visible-md text-right lead">
                    <span>Get the most for your used or new iPhone <strong><em>Guaranteed!</em></strong></span>
                </div>
            </div>
            <div class="row visible-sm visible-xs text-left">
                <div class="col-sm-12 col-xs-12">
                    We pay the most for your used or new iPhone <strong><em>Guaranteed!</em></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="menu" class="navbar navbar-default">
                        <div class="navbar-header">
                            <button class="btn btn-success btn-sm navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul id="navmenu" class="nav navbar-nav navbar-left">
                                <li class="nav">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="nav">@Html.ActionLink("Get An Offer", "Offer", "Phone")</li>
                                <li class="nav">@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                                <li class="nav">@Html.ActionLink("Ask A Questions", "Questions", "Home")</li>                                
                                <li class="nav">@Html.ActionLink("About Us", "About", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()                
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br/>
        </div>
        <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-info">
            <h4>&copy; @DateTime.Now.Year - Saleular</h4>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
