@model Saleular.Models.Gadget

@{
    ViewBag.Title = "Create Gadget";    
}

<div class="col-lg-10 col-md-10 col-sm-10">
    <h4>Create a new gadget</h4>
    <hr />
    <p style="padding-left: 5px">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })
    </p>    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Type)
                    @Html.ValidationMessageFor(model => model.Type)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Model)
                    @Html.ValidationMessageFor(model => model.Model)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Capacity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Capacity)
                    @Html.ValidationMessageFor(model => model.Capacity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Carrier, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Carrier)
                    @Html.ValidationMessageFor(model => model.Carrier)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Condition, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Condition)
                    @Html.ValidationMessageFor(model => model.Condition)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageUrl)
                    @Html.ValidationMessageFor(model => model.ImageUrl)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Create Gadget</h2>
    </div>
}