@model Saleular.Models.Gadget

@{
    ViewBag.Title = "Gadget Details";
}

<div class="col-lg-10 col-md-10 col-sm-10">
    <h4>Details of the selected gadget</h4>
    <hr />
    <p style="padding-left: 5px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.GadgetId }, new { @class = "btn btn-sm btn-info" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })
    </p>    
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Capacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Carrier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Carrier)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Condition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Condition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>
    </div>
</div>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Gadget Details</h2>
    </div>
}


