@model Saleular.Models.PriceListRequest

@{
    ViewBag.Title = "Delete Price List Request";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10">
    <h4>Delete the selected gadget</h4>
    <hr />
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })
    </p>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BusinessName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessAreaSelection)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessAreaSelection)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" />                
            </div>
        }
    </div>
</div>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Delete Price List Request</h2>
    </div>
}