@model Saleular.Models.PriceListRequest

@{
    ViewBag.Title = "Price List Request Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10">
    <h4>Details of the price list request</h4>
    <hr />
    <p style="padding-left: 5px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.PriceListRequestId }, new { @class = "btn btn-sm btn-info" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })        
    </p>   
    <div>        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BusinessName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessAreaSelection)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessAreaSelection)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

        </dl>
    </div>
</div>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Price List Request Details</h2>
    </div>
}

