@model Saleular.ViewModels.SelectedGadgetViewModel

@{
    ViewBag.Title = "Get An Offer";
}

<style>
    button.btn {
        border-radius: 0px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    .selected-value {
        height: 35px;
        width: 165px;
        padding: 5px 5px 5px 5px;
        border: 1px solid gray;
    }

    .dropdown-menu {
        width: 165px;
        border: 1px solid gray;
    }

    .form-horizontal .form-group {
        margin: 0px;
    }
</style>

<script>
    $(document).ready(function () {

        // wire Model dropdown
        WireSelectButton($('#typeDropdown li a'), $('#typeSelection'));

        // hide offer section
        $('#offerSection').hide();

        // hide selection text
        var buttons = $('.input-group');
        for (var i = 0; i < buttons.length; i++) {
            if (i > 0) {
                $(buttons[i]).hide();
            }
        }
    });

    function WireSelectButton(dropdownElements, selectControl) {
        dropdownElements.on('click', function (e) {

            e.preventDefault();

            // set selection text
            var selection = $(this).text();
            selectControl.text(selection);

            // is this the model dropdown?
            if ($(selectControl).attr('id') == 'typeSelection'
                || $(selectControl).attr('id') == 'modelSelection'
                || IsPriceReady()) {               

                // create json for POST
                var selectedgadget = {                   
                    SelectedType: $('#typeSelection').text(),
                    SelectedModel: $('#modelSelection').text(),
                    SelectedCarrier: $('#carrierSelection').text(),
                    SelectedCapacity: $('#capacitySelection').text(),
                    SelectedCondition: $('#conditionSelection').text()
                }

                // POST to RefreshSelection
                $.ajax({
                    type: "POST",
                    url: '/Phone/GetSelectedGadgetViewModel',
                    data: selectedgadget,
                    dataType: 'json',
                    success: function (data, status, xhr) {
                        var buttons = $('.input-group');
                        buttons.show();
                        
                        // Reset selection text based type and model
                        $('#modelSelection').text(data.SelectedModel);
                        $('#carrierSelection').text(data.SelectedCarrier);
                        $('#capacitySelection').text(data.SelectedCapacity);
                        $('#conditionSelection').text(data.SelectedCondition);                        

                        // Populate dropdowns based on Type selection text
                        PopulatePhoneDropdowns(data.Models, $('#modelDropdown'));
                        PopulatePhoneDropdowns(data.Carriers, $('#carrierDropdown'));
                        PopulatePhoneDropdowns(data.Capacities, $('#capacityDropdown'));
                        PopulatePhoneDropdowns(data.Conditions, $('#conditionDropdown'));

                        // Wire dropdowns
                        WireSelectButton($('#modelDropdown li a'), $('#modelSelection'));
                        WireSelectButton($('#carrierDropdown li a'), $('#carrierSelection'));
                        WireSelectButton($('#capacityDropdown li a'), $('#capacitySelection'));
                        WireSelectButton($('#conditionDropdown li a'), $('#conditionSelection'));

                        // Show Offer and scroll to the bottom
                        if (IsPriceReady()) {
                            $('#offerSection').show();
                            $('#price h2').html('$' + data.Price + '.00');
                            $(document).scrollTop(1000);
                        }
                        else {
                            $('#offerSection').hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                        alert(xhr.status);
                        alert(xhr.responseJSON);
                        alert(xhr.responseText);
                        alert(error);
                    }
                });
            }
        });
    }

    function PopulatePhoneDropdowns(data, dropdown) {
        var html = '';
        for (var i = 0; i < data.length; i++) {
            var liBegin = "<li><a href='#'>";
            var liText = data[i];
            var liEnd = "</a></li>";
            html = html + liBegin + liText + liEnd;
        }
        $(dropdown).html(html);
    }    

    function IsPriceReady() {
        var selection = $('#typeSelection').text();

        if (selection.indexOf('Select', 0) == -1) {
            selection = $('#modelSelection').text();

            if (selection.indexOf('Select', 0) == -1) {
                selection = $('#carrierSelection').text();

                if (selection.indexOf('Select', 0) == -1) {
                    selection = $('#capacitySelection').text();

                    if (selection.indexOf('Select', 0) == -1) {
                        selection = $('#conditionSelection').text();

                        if (selection.indexOf('Select', 0) == -1) {
                            return true;
                        }
                    }
                }
            }
        }

        return false;
    }

</script>
@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Get an Offer</h2>
        <p>
            Start by selecting your device model, carrier, capacity and condition in order to get an offer.<br />
            Once you have selected your iPhone you will see that our offer price beats the other sites.
        </p>
        <hr />
    </div>
}
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="wholething">
    <form id="selectionForm" class="form-horizontal">
        <div class="form-group">
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="typeSelection">@Model.SelectedType</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="typeDropdown">
                        @foreach (var gadgetType in Model.Types)
                        {
                            <li>
                                <a href="#">@gadgetType</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="modelSelection">@Model.SelectedModel</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="modelDropdown"></ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class=" selected-value box-shadow-dgray" style="float: left" id="carrierSelection">@Model.SelectedCarrier</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="carrierDropdown"></ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="capacitySelection">@Model.SelectedCapacity</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="capacityDropdown"></ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="conditionSelection">@Model.SelectedCondition</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="conditionDropdown"></ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="offerSection" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div style="float: left; padding-right: 20px;">
        <h2>Our Offer</h2>
    </div>
    <div id="price" style="float: left; padding-right: 20px; color: #008cba;">
        <h2></h2>
    </div>
    <div style="float: left">
        @Html.ActionLink("Accept", "Ship", "Phone", new { @class = "btn btn-sm btn-primary pull-left" })        
    </div>
    <div style="clear: both">
        We pay the most for your used or new iPhone <strong><em>Guaranteed!</em></strong>
    </div>
</div>
