@model Saleular.ViewModels.SelectediPhone

@{
    ViewBag.Title = "Offer";
}

<style>
    button.btn {
        border-radius: 0px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    .selected-value {
        height: 35px;
        width: 165px;
        padding: 5px 5px 5px 5px;
        border: 1px solid gray;
    }

    .dropdown-menu {
        width: 165px;
        border: 1px solid gray;
    }

    .form-horizontal .form-group {
        margin: 0px;
    }
</style>

<script>
    $(document).ready(function () {
        var select = $('#modelSelect');
        var dropdown = $('#modelDropdown li a');
        WireSelectButton(select, dropdown);

        select = $('#carrierSelect');
        dropdown = $('#carrierDropdown li a');
        WireSelectButton(select, dropdown);

        select = $('#capacitySelect');
        dropdown = $('#capacityDropdown li a');
        WireSelectButton(select, dropdown);

        select = $('#conditionSelect');
        dropdown = $('#conditionDropdown li a');
        WireSelectButton(select, dropdown);

        WireEvents();
    });

    function WireSelectButton(select, dropdown) {
        dropdown.on('click', function () {
            var iphone = $(this).text();
            select.text(iphone);
        });

    }

    function WireEvents() {
        $('.dropdown').on('hidden.bs.dropdown', function () {
            //alert('here');
        });
    }

</script>

<div class="col-lg-12 col-md-12">
    <h2>Get an Offer</h2>
    <p>
        Start by selecting your device model, carrier, capacity and condition in order to get an offer.<br />
        Once you have selected your iPhone you will see that our offer price beats the other sites.
    </p>
    <hr />
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="modelSelect">@Model.SelectedTypeAndModel</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="modelDropdown">
                        @foreach (var phoneModel in Model.Models)
                        {
                            <li><a href="@Url.Action("ChangeSelection", "Phone", new { model = @phoneModel, carrier = @Model.SelectedCarrier, capacity = @Model.SelectedCapacity, condition = @Model.SelectedCondition })">iPhone @phoneModel</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="carrierSelect">@Model.SelectedCarrier</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="carrierDropdown">
                        @{
                            foreach (var phoneCarrier in Model.Carriers)
                            {
                                <li><a href="@Url.Action("ChangeSelection", "Phone", new { model = @Model.SelectedModel, carrier = @phoneCarrier, capacity = @Model.SelectedCapacity, condition = @Model.SelectedCondition })">@phoneCarrier</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="capacitySelect">@Model.SelectedCapacity</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="capacityDropdown">
                        @{
                            foreach (var phoneCapacity in Model.Capacities)
                            {
                                <li><a href="@Url.Action("ChangeSelection", "Phone", new { model = @Model.SelectedModel, carrier = @Model.SelectedCarrier, capacity = @phoneCapacity, condition = @Model.SelectedCondition })">@phoneCapacity</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="input-group">
                <div class="dropdown">
                    <div class="selected-value box-shadow-dgray" style="float: left" id="conditionSelect">@Model.SelectedCondition</div>
                    <button class="btn btn-primary box-shadow-dgray" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" id="conditionDropdown">
                        @{
                            foreach (var phoneCondition in Model.Conditions)
                            {
                                <li><a href="@Url.Action("ChangeSelection", "Phone", new { model = @Model.SelectedModel, carrier = @Model.SelectedCarrier, capacity = @Model.SelectedCapacity, condition = @phoneCondition })">@phoneCondition</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
    </form>
</div>
@{
    if (Model.Price > 0)
    {
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div style="float: left; padding-right: 20px;">
                <h2>Our Offer</h2>
            </div>
            <div style="float: left; padding-right: 20px; color: #008cba;">
                <h2>@Html.DisplayFor(modelItem => modelItem.Price)</h2>
            </div>
            <div style="float: left">
                <a href="/Phone/Ship" class="btn btn-sm btn-primary pull-left">Accept</a>
            </div>
            <div style="clear: both">
                We pay the most for your used or new iPhone <strong><em>Guaranteed!</em></strong>
            </div>
        </div>
    }
}
