@model Saleular.Models.SellPhoneRequest

@{
    ViewBag.Title = "Confirmation";
}

<form class="form-horizontal" method="post">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Company Name</label>
            <div class="input-group">
                @Model.BusinessName
            </div>
        </div>
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Name</label>
            <div class="input-group">
                @Model.Name
            </div>
        </div>
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Email</label>
            <div class="input-group">
                @Model.Email
            </div>
        </div>
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Phone Number</label>
            <div class="input-group">
                @Model.Phone
            </div>
        </div>
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Address</label>
            <div class="input-group">
                @if (Model.Address != "")
                {
                    @Model.Address
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>    
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Quantity</label>
            <div class="input-group">
                @if (Model.Quantity != "")
                {
                    @Model.Quantity
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>     
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Model</label>
            <div class="input-group">
                @if (Model.Model != "")
                {
                    @Model.Model
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>       
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Carrier</label>
            <div class="input-group">
                @if (Model.Carrier != "")
                {
                    @Model.Carrier
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>   
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Capacity</label>
            <div class="input-group">
                @if (Model.Capacity != "")
                {
                    @Model.Capacity
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>   
        <div class="form-group padding-bottom-10">
            <label class="control-label label-font">Condition</label>
            <div class="input-group">
                @if (Model.Condition != "")
                {
                    @Model.Condition
                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>       
    </div>
</form>

@section header
{
    <div class="col-lg-12 col-md-12">
        <h2>Confirmation</h2>
        <p>
            We have recieved your request for a quote and will be contacting you shortly. You can also call us at 718.376.0800.
        </p>
        <label class="control-label label-font">Preview of your request</label>
        <hr />
    </div>
}
@section scripts
{

}
@section styles
{
    @Styles.Render("~/Content/phone_pricelistsent")
}

