@model Saleular.ViewModels.OffersPaid

@{
    ViewBag.Title = "Sell Your iPhone";
}


<style>
    #offerpanel {
        padding: 0px;
        margin: 0px;
    }

    #offerspaid {
        padding: 0px;
        margin: 0px;
    }

    .panel-heading {
        padding: 3px 3px 3px 3px;
    }

    .panel-body {
        padding: 7px 7px 7px 7px;
    }

    .phone-price {
        font-weight: 500;
        color: #43ac6a;
    }

    #carousel {
        border: 1px solid #cbcbcb;
        box-shadow: 5px 5px 5px #888888;
    }
</style>
<script type="text/javascript">
    $(DocumentIsReady);
    function DocumentIsReady() {

        var c = $('#carousel');
        c.carousel();

        c.on('slid', function () {
            var index = $(this).find('.active').index();
            var cdiv = $('#carouselDiv');

            cdiv.animate({
                opacity: 0
            }, 10, 'swing', function () {
                $('#carouselCaption').text(GetCarouselCaption(index));
            });

            cdiv.animate({
                opacity: 1
            }, 1000, 'swing');
        });
    }

    function GetCarouselCaption(index) {
        if (index == 0) {
            return "Step 1: Get a Quick Offer For Your iPhone";
        }

        if (index == 1) {
            return "Step 2: Get a Free Shipping Label";
        }

        if (index == 2) {
            return "Step 3: Get Paid Fast!";
        }
    }
</script>
<section class="row">
    <div id="carouselDiv" class="col-lg-12 col-md-12 visible-lg visible-md">
        <div style="float: left; padding-right: 20px">
            <h2 id="carouselCaption">Step 1: Get a Quick Offer For Your iPhone</h2>
        </div>
    </div>
</section>
<section class="row">
    <section class="col-lg-9 col-md-8">
        <div style="margin-bottom: 10px" class="carousel slide visible-lg visible-md" data-interval="6000" id="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Carousel/c1.jpg" class="img-responsive" alt="1" />

                </div>
                <div class="item">
                    <img src="~/Images/Carousel/c2.jpg" class="img-responsive" alt="2" />

                </div>
                <div class="item">
                    <img src="~/Images/Carousel/c3.jpg" class="img-responsive" alt="3" />

                </div>
            </div>
            <a id="carousel-left-arrow" href="#carousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
            <a id="carousel-right-arrow" href="#carousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>3 Easy Steps</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Get An Offer</h2>
                <p>
                    Get an offer on your phone quickly that is guarenteed to beat our competitors.
                </p>
                <p><a class="btn btn-primary" href="/Phone/Offer">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Ship It</h2>
                <p>Request a free shipping label and ship your phone quickly and easily using Fedex or the USPS.</p>
                <p><a class="btn btn-primary" href="/Phone/Ship">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get Paid</h2>
                <p>Once your iPhone is received and processed you will receive payment via PayPal or a check.</p>
                <p><a class="btn btn-primary" href="/Phone/Paid">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="row visible-sm visible-xs">
            <div class="col-sm-12 col-xs-12">
                <br />
                <br />
                <h2>Get Started</h2>
                <hr />
            </div>
        </div>
    </section>
    <aside class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div style="padding-bottom: 10px">
            <a href="/Phone/Offer" class="btn btn-success">Get An Offer &raquo;</a>
        </div>
        <div id="offerpanel" class="panel panel-title" style="margin: 0px; padding: 0px;">
            <div class="panel-heading">
                <div>
                    <h4 id="offerspaid">Offers Paid For iPhone 5C</h4>
                </div>
            </div>
            <div class="panel-body">
                @{
                    int index = 0;
                    int count = Model.iPhone5Cs.Count();
                    foreach (var item in Model.iPhone5Cs)
                    {
                        <div class="pull-left" style="width: 80px; padding-right: 10px; text-align: center;">
                            @{
                        string imagePath = item.ImageUrl + ".png";
                        //switch (item.Condition)
                        //{
                        //    case "Flawless":
                        //        imagePath = "/" + item.ImageUrl + ".png";
                        //        break;

                        //    case "Good":
                        //        imagePath = "/" + item.ImageUrl + "_Good.jpg";
                        //        break;

                        //    case "Bad":
                        //        imagePath = "/" + item.ImageUrl + "_Bad.jpg";
                        //        break;
                        //}
                            }
                            <img src="@imagePath" alt="iPhone" style="height: 90px" />
                        </div>
                        <div style="font-size: 14px" class="pull-left">
                            @Html.DisplayFor(modelItem => item.Capacity)
                            <br />
                            Carrier: @Html.DisplayFor(modelItem => item.Carrier)
                            <br />
                            Condition: @Html.DisplayFor(modelItem => item.Condition)
                            <br />
                            <span class="lead phone-price">@Html.DisplayFor(modelItem => item.Price) </span>
                        </div>
                        <div style="clear: both">
                            <br />
                        </div>
                        index++;
                    }
                }
            </div>
            <div class="panel-heading">
                <div>
                    <h4 id="offerspaid">Offers Paid For iPhone 5S</h4>
                </div>
            </div>
            <div class="panel-body">
                @{
                    index = 0;
                    count = Model.iPhone5Ss.Count();
                    foreach (var item in Model.iPhone5Ss)
                    {
                        <div class="pull-left" style="width: 80px; padding-right: 10px; text-align: center;">
                            @{
                        string imagePath = item.ImageUrl + ".png";
                        //switch (item.Condition)
                        //{
                        //    case "Flawless":
                        //        imagePath = "/" + item.ImageUrl + ".png";
                        //        break;

                        //    case "Good":
                        //        imagePath = "/" + item.ImageUrl + "_Good.jpg";
                        //        break;

                        //    case "Bad":
                        //        imagePath = "/" + item.ImageUrl + "_Bad.jpg";
                        //        break;
                        //}
                            }
                            <img src="@imagePath" alt="iPhone" style="height: 90px" />
                        </div>
                        <div style="font-size: 14px" class="pull-left">
                            @Html.DisplayFor(modelItem => item.Capacity)
                            <br />
                            Carrier: @Html.DisplayFor(modelItem => item.Carrier)
                            <br />
                            Condition: @Html.DisplayFor(modelItem => item.Condition)
                            <br />
                            <span class="lead phone-price">@Html.DisplayFor(modelItem => item.Price) </span>
                        </div>
                        <div style="clear: both">
                            <br />
                        </div>
                        index++;
                    }
                }
            </div>

        </div>
    </aside>











































</section>



